project/boot/
project/target/
src/testproject/project/boot/
src/testproject/project/plugins/project/
src/testproject/project/plugins/target/
src/testproject/project/target/
src/testproject/src/style.css
src/testproject/target/
target/
.ensime_port
*.sublime*
src/testproject/.history
/.idea*
atlassian*
